<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated daGiMa_MDE_HW4 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="daGiMa_MDE_HW4.presentation.DaGiMa_MDE_HW4ModelWizardID"
            name="%_UI_DaGiMa_MDE_HW4ModelWizard_label"
            class="daGiMa_MDE_HW4.presentation.DaGiMa_MDE_HW4ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DaGiMa_MDE_HW4ModelFile.gif">
         <description>%_UI_DaGiMa_MDE_HW4ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated daGiMa_MDE_HW4 -->
      <editor
            id="daGiMa_MDE_HW4.presentation.DaGiMa_MDE_HW4EditorID"
            name="%_UI_DaGiMa_MDE_HW4Editor_label"
            icon="icons/full/obj16/DaGiMa_MDE_HW4ModelFile.gif"
            extensions="dagima_mde_hw4"
            class="daGiMa_MDE_HW4.presentation.DaGiMa_MDE_HW4Editor"
            contributorClass="daGiMa_MDE_HW4.presentation.DaGiMa_MDE_HW4ActionBarContributor">
      </editor>
   </extension>

</plugin>
