<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated daGiMa_MDE_HW4 -->
      <package
            uri="http://www.example.org/dagima_mde_hw4"
            class="daGiMa_MDE_HW4.DaGiMa_MDE_HW4Package"
            genModel="model/daGiMa_MDE_HW4.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DaGiMa_MDE_HW4_dest -->
      <package
            uri="http://www.example.org/dagima_mde_hw4_dest"
            class="daGiMa_MDE_HW4_dest.DaGiMa_MDE_HW4_destPackage"
            genModel="model/DaGiMa_MDE_HW4_dest.genmodel"/>
   </extension>

</plugin>
