<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated daGiMa_MDE_HW3 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="daGiMa_MDE_HW3.presentation.DaGiMa_MDE_HW3ModelWizardID"
            name="%_UI_DaGiMa_MDE_HW3ModelWizard_label"
            class="daGiMa_MDE_HW3.presentation.DaGiMa_MDE_HW3ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DaGiMa_MDE_HW3ModelFile.gif">
         <description>%_UI_DaGiMa_MDE_HW3ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated daGiMa_MDE_HW3 -->
      <editor
            id="daGiMa_MDE_HW3.presentation.DaGiMa_MDE_HW3EditorID"
            name="%_UI_DaGiMa_MDE_HW3Editor_label"
            icon="icons/full/obj16/DaGiMa_MDE_HW3ModelFile.gif"
            extensions="dagima_mde_hw3"
            class="daGiMa_MDE_HW3.presentation.DaGiMa_MDE_HW3Editor"
            contributorClass="daGiMa_MDE_HW3.presentation.DaGiMa_MDE_HW3ActionBarContributor">
      </editor>
   </extension>

</plugin>
